/* ======================================
   HOME PAGE
====================================== */

.hero{

    text-align:center;

    margin-top:20px;

    margin-bottom:40px;

}

.hero h1{

    font-size:42px;

    font-weight:700;

    color:#ffffff;

    margin-bottom:15px;

}

.hero-text{

    color:#d9e6f2;

    font-size:18px;

    max-width:700px;

    margin:auto;

}

/* -----------------------------
QR FORM
----------------------------- */

.card form{

    display:flex;

    flex-direction:column;

}

.card label{

    font-weight:600;

    margin-bottom:6px;

}

.divider{

    text-align:center;

    margin:20px 0;

    font-weight:600;

    color:#60a5fa;

}

small{

    color:#b9c8d8;

    margin-top:-10px;

    margin-bottom:20px;

}

/* -----------------------------
QR PREVIEW
----------------------------- */

.qr-card{

    text-align:center;

}

.qr-card h2{

    margin-bottom:20px;

}

.qr-card img{

    width:220px;

    margin:auto;

    padding:15px;

    background:white;

    border-radius:15px;

}

.generated-link{

    margin:20px 0;

    color:#d9e6f2;

    word-break:break-word;

}

/* -----------------------------
FEATURE SECTION
----------------------------- */

.features{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

    margin-top:50px;

}

.feature-box{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    border-radius:15px;

    padding:25px;

    text-align:center;

    transition:.3s;

}

.feature-box:hover{

    transform:translateY(-6px);

}

.feature-box h3{

    margin:15px 0;

    color:white;

}

.feature-box p{

    color:#d9e6f2;

    font-size:15px;

}
.error-box{

    background:#dc2626;

    color:white;

    padding:12px;

    border-radius:10px;

    margin-bottom:20px;

    text-align:center;

}
/* QR Buttons */

.qr-buttons{

    display:flex;

    justify-content:center;

    gap:15px;

    margin-top:25px;

    flex-wrap:wrap;

}

.secondary-btn{

    background:#334155;

}

.secondary-btn:hover{

    background:#475569;

}

/* Branding */

.brand-text{

    margin-top:25px;

    color:#94a3b8;

    font-size:14px;

}

.qr-info{

    margin-top:20px;

    background:rgba(255,255,255,.05);

    padding:15px;

    border-radius:10px;

}
