{% extends "base.html" %}

{% block content %}

<div class="card">
    <h2>QR Code Generator 〽️</h2>
    {% if error %}
<div class="error-box">
    {{ error }}
</div>
{% endif %}

    <form action="/generate" method="POST" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="Enter link or text">
        <input type="file" name="file">

        <button type="submit">Generate QR</button>
    </form>

    {% if qr_image %}
        <div class="qr-box">
            <h3>Preview</h3>
            <img src="{{ url_for('static', filename='qr_codes/' + qr_image) }}" width="200" alt="QR Code Preview">
            <p>{{ data }}</p>

            <a href="{{ url_for('static', filename='qr_codes/' + qr_image) }}" download>
                <button type="button">Download QR</button>
            </a>
        </div>
    {% endif %}

    <p class="text-center">© 2026 SUREWAL.TECH. All rights reserved.</p>
    <p class="text-center">Mohit Surewal</p>
</div>

{% endblock %}
